[submodule "extensions/sd-civitai-browser-plus"]
	path = extensions/sd-civitai-browser-plus
	url = https://github.com/CongLeSolutionX/sd-civitai-browser-plus
[submodule "extensions/sd-webui-lobe-theme"]
	path = extensions/sd-webui-lobe-theme
	url = https://github.com/CongLeSolutionX/sd-webui-lobe-theme.git
[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = https://github.com/CongLeSolutionX/sd-webui-controlnet.git
[submodule "extensions/sd-adetailer"]
	path = extensions/sd-adetailer
	url = https://github.com/Bing-su/adetailer.git
